@font-face {
    font-family: 'Alibaba-PuHuiTi-Regular';
  /* 重命名字体名 */
  src: url('./Alibaba-PuHuiTi-Regular.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Alibaba-PuHuiTi-Medium';
/* 重命名字体名 */
src: url('./Alibaba-PuHuiTi-Medium.ttf');
font-weight: normal;
font-style: normal;
}