// 字号
@font-size-base: 14px;
@font-size-lg: @font-size-base + 2px;
@font-size-sm: 12px;
// 标准白
@white: #ffffff;
//标准蓝
@blue-6: #0066ff;
@blue-color-hover: #3384ff;
@blue-color-active: #0051cc;
//淡蓝
@lblue-6: #0099ff;
@lblue-color-hover: #33adff;
@lblue-color-active: #007acc;
//标准红
@red1-6: #cc0000;
@red1-color-hover: #d63333;
@red1-color-active: #a30000;
//标准棕
@brown-6: #996600;
@brown-color-hover: #ad8433;
@brown-color-active: #7a5100;
//标准橙
@orange-6: #ff6633;
@orange-color-hover: #ff845b;
@orange-color-active: #cc5128;
//橘黄金
@gold-6: #ff9933;
@gold-color-hover: #ffad5b;
@gold-color-active: #cc7a28;
//标准绿
@green1-6: #339900;
@green1-color-hover: #5bad33;
@green1-color-active: #287a00;
//淡绿
@lgreen-6: #33cc99;
@lgreen-color-hover: #5bd6ad;
@lgreen-color-active: #28a37a;
//青
@cyan-6: #009999;
@cyan-color-hover: #33adad;
@cyan-color-active: #007a7a;

// 主色调red
@primary-color: @blue-6;
@primary-color-hover: @lblue-color-hover;
@primary-color-active: @lblue-color-active;

// @primary-color: @red1-6;
// @primary-color-hover: @red1-color-hover;
// @primary-color-active: @red1-color-active;

//文字黑
@text-color: #333333;
// 次文本色
@text-color-secondary: #888888;
// 禁用背景颜色
@dis-color-back: #eeeeee;
// 失效色
@disabled-color: rgba(0, 0, 0, 0.25);
// 禁用文字、边框颜色
@disabled-color: #aaaaaa;
// 边框色
@border-color-base: #888888;
//按钮边框灰
@border-color: #888888;
// 输入框颜色
@input-border-color: #bbbbbb;
// 下拉框边框
@border-color-dropdown: #777777;
// 浮层阴影
// @box-shadow-base: none;


// 折叠面板
// 横向面板
.zedieborder{
    box-shadow: 0 0 5px #bbbbbb;
    width: 868px;
    border-radius: 4px;

    .collapseone{
        height: 36px;
        width: 868px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 16px;
        border-left: 2px solid @primary-color;
        padding: 0 15px;
        border-radius: 4px;
    }
    .borderBo{
        border-radius: 4px 4px 0 0;
        border-bottom: 1px solid #bbbbbb;
    }
    .closeBox{
        display: flex;
        justify-content: space-around;
        padding: 16px 40px;
        height: 64px;
        width: 868px;
        border: 1px solid #dddddd;
        border-top: none;
        border-radius: 4px;
    }

    .trans{
        transform: rotate(180deg);
    }
    .iconfont{
        transition: 0.5s;
    }
    
}

// 竖向折叠面板
.collaBoxTW{
    border: 1px solid #dddddd;
    width: 889px;
    height: 424px;
    display: flex;
    align-items: center;

    .leftColl{
        height: 424px;
        width: 260px;
        padding: 15px 16px;
        border-right: 1px solid #bbbbbb;
    }

    .collButton{
        text-align: center;
        position: relative;
        height: 50px;
        border-left: 16px solid #bbbbbb;
        border-bottom: 10px solid transparent;
        border-top: 10px solid transparent;

        .leftbox{
            position: absolute;
            left: -14px;
            top: 6px;
            font-size: 12px;
        }
    }
}




// 分页组件
.pags{
    margin-top: 12px;
    margin-bottom: 18px;

    ul{
        display: flex;
    }

    // 标准分页
    .allleft{
            display: inline-block;
            min-width: 32px;
            height: 32px;
            margin-left: -1px;
            font-family: Arial;
            line-height: 30px;
            text-align: center;
            vertical-align: middle;
            list-style: none;
            background-color: #fff;
            border: 1px solid #888888;
            outline: 0;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;

        .all{
            display: block;
            height: 100%;
            font-size: 12px;
            text-align: center;
            color: #333333;
            background-color: #fff;
            // border: 1px solid #888888;
            outline: none;
            transition: all 0.3s;
        }
        .all:hover{
            color:#cc0000
        }
    }

    // 标准禁止分页
    .allleftdis{
        display: inline-block;
        min-width: 32px;
        height: 32px;
        color: #333333;
        margin-left: -1px;
        font-family: Arial;
        line-height: 32px;
        text-align: center;
        vertical-align: middle;
        list-style: none;
        cursor: pointer;
        transition: all 0.3s;
        border: 1px solid #888888;

        .all{
            display: block;
            height: 100%;
            font-size: 12px;
            text-align: center;
            outline: none;
            transition: all 0.3s;
            color: #aaaaaa;
            background: #eeeeee;
            cursor: not-allowed;
        }
    }
    .borderRN{
        // border-right: none;
    }
}
.pagleft{
    border-radius: 4px 0 0 4px;
}
.pagright{
    border-radius: 0 4px 4px 0;
}
// 小尺寸
.pagsmall{
    margin-top: 12px;
    margin-bottom: 18px;

    ul{
        display: flex;
    }
    
    // 小尺寸分页
    .allleft{
            display: inline-block;
            min-width: 24px;
            height: 24px;
            font-family: Arial;
            line-height: 24px;
            text-align: center;
            vertical-align: middle;
            list-style: none;
            background-color: #fff;
            margin-left: -1px;
            border: 1px solid #888888;
            outline: 0;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;

        .all{
            display: block;
            height: 100%;
            font-size: 12px;
            text-align: center;
            background-color: #fff;
            outline: none;
            color: #888888;
            transition: all 0.3s;
        }
    }

    // 小尺寸禁止分页
    .allleftdis{
        display: inline-block;
        min-width: 24px;
        height: 24px;
        margin-left: -1px;
        color: #333333;
        font-family: Arial;
        line-height: 24px;
        text-align: center;
        vertical-align: middle;
        border: 1px solid #888888;
        list-style: none;
        cursor: pointer;
        transition: all 0.3s;

        .all{
            display: block;
            height: 100%;
            font-size: 12px;
            text-align: center;
            outline: none;
            transition: all 0.3s;
            color: #aaaaaa;
            background: #eeeeee;
            cursor: not-allowed;
        }
    }

}

// 标准分页
.pagBoxUp{

    .pagDe{
        margin-bottom: 40px;
    }
}

.pagsnumber{
    margin-right: 29px;
}
.paginput{
    width: 64px !important;
    height: 32px !important;
    margin: 0 10px !important;
}
.paginputBas{
    width: 64px !important;
    height: 32px !important;
    margin: 0 10px !important;
    background-color: #f5f5f5 !important;
}

.buttonBas{
    background-color: #eeeeee !important;
}
// 输入框（只读输入框）
input.readinput.ant-input {
    background-color: #eeeeee;
}



// 图标卡片居中
.cardicon{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: @primary-color;
    border-radius: 25px;
    color: #fff;

    .iconfont{
        font-size: 38px;
    }
}

// 页签

.card-container {
    /* background: #f5f5f5; */
    overflow: hidden;
    padding: 24px;
}


.card-container > .ant-tabs-card > .ant-tabs-content {
    height: 120px;
    margin-top: -16px;
}

.card-container > .ant-tabs-card > .ant-tabs-content > .ant-tabs-tabpane {
    background: #fff;
    padding: 16px;
}

.card-container > .ant-tabs-card > .ant-tabs-bar {
    border-color: #fff;
    border-bottom: 1px solid #dddddd;
}

.card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
    border-color: transparent;
    background: #dcd8d8;
    border-radius: 6px 6px 0 0;
}

.card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
    border-color: #fff;
    background: #cc0000;
    border-radius: 6px 6px 0 0;
    color: #fff;
}


// 输入框数字放大框
.nonenumber{
    // border: 1px solid #DDDDDD;
    border-radius: 7px;
    height: 50px;
    padding: 0 10px;
    background-color: #000;
    position: absolute;
    top: -56px;
    
    p{
        color: #fff;
        font-size: 29px;
        width: 200px;
        overflow: hidden;
    }
}
.nonenumber ::before{
    background-color: #000;
}
.numberform{
    position: relative;
}
.three{
    background: #000;
    height: 10px;
    width: 10px;
    display: inline-block;
    position: absolute;
    transform: rotate(45deg);
    top: -11px;
    left: 105px;
}
.disnon{
    // display: none;
}


.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab div{
    padding-top: 7px;
}